# C#
.vs/
.vscode/
[Bb]in/
[Oo]bj/
[Pp]ackages/

# Dart
.dart_tool/
.packages
build/
pubspec.lock
doc/api

# Exercism
.exercism/

# General
*.dll
*.dylib
*.exe
*.exe~
*.so
*.test
*.tmp

# Haskell

dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# Java
.classpath
.gradle/
.project
.settings/
build/

# JavaScript
node_modules/

# Python
__pycache__/

# Rust
Cargo.lock
target/

